html,
body {
    margin: 0px;
    height: 100%;
    font-size: 16px;
}


#root {
    margin: 0px;
    height: 100%;
}


:root body {
    --toastify-color-dark: #3a2e3f;

    --toastify-toast-width: 100px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 50px;
    --toastify-toast-max-height: 50px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    --toastify-text-color-dark: #fff;
    --toastify-color-progress-dark: #bb86fc;

}