::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #775881;
    border-radius: 100vw;
    border: 1.5px solid #f4f2f3;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b0e4a;

}

::-webkit-scrollbar-track {
    background: #f4f2f3;
    border-radius: 100vw;
}







.edit-description {
    font-size: 10px;
    color: #786c7e;
    margin-top: 0px;
    resize: vertical;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 4em;
    background-color: #f4f4f4;
    padding: 3px;

}






.item-title,
.edit-description {
    border: 0;
}

.item-title:hover,
.edit-description:hover {
    background-color: #eae4eb;
    cursor: pointer;
}

.item-title:focus,
.edit-description:focus {
    outline: 1px solid #62466b;
    background-color: #eae4eb;
}

.add-title {
    font-size: 12px;
    cursor: pointer;
}




.edit-icon {
    color: #3b3355;
    height: 9px;
}