.colours-list {
    display: flex;
    flex-direction: row;
}







.colours {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 90px;
}

.colour-block,
.modal-colour-block {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    font-size: smaller;
    text-align: center;
    cursor: pointer;
}

.colour-block>p,
.modal-colour-block>p {
    margin: 0px;
    padding-top: 5px;
}

.colour,
.modal-colour {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;


}