::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #775881;
    border-radius: 100vw;
    border: 1.5px solid #f4f2f3;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b0e4a;

}

::-webkit-scrollbar-track {
    background: #f4f2f3;
    border-radius: 100vw;
}