.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    background-color: #a4ceff02;
    box-shadow: 0px 4px 11px -2px #63a5e3;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}



.nav-pages {
    display: inline-grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 75px;
    justify-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.NavLink {
    text-decoration: none;
    color: #2570C3;
    font-size: 20px;
    font-weight: 500;
    padding: 27px 9px;
    transition: all 0.5s ease;

}

.logo {
    width: 60px;
    padding-top: 10.5px;
    cursor: pointer;
}


.NavLink-home {
    padding: 27px 54px;
}

.NavLink:hover,
.NavLink.active {
    background-color: aliceblue;
    color: #439fff;
}

.li-home,
.li-savedThemes {
    border-right: 2px solid #63a5e3;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 10em;
    height: 4.5em;
}


.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em;
    column-gap: 20px;
    padding-right: 45px;
    padding-top: 0.75rem;

}

.nav-button {
    color: #8EC562;
    background-color: #FFFBF3;
    border-radius: 7px;
    border: 1.5px solid #80ADD6;
    box-shadow: 0px 4px 12px 0px rgba(99, 149, 227, 0.71);
    font-size: 18px;
    font-weight: 600;
    padding: 0px 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav-button:hover {
    color: #fffefb;
    background-color: #96de5c;
}

.menu,
.saved-icon,
.home-icon {
    display: none;
}



@media screen and (max-width: 480px) {
    .navbar {
        justify-content: center;
        align-items: center;
    }

    .nav-pages {
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 60px;
        width: 100%;
    }

    .menu-text,
    .nav-buttons {
        display: none;
    }

    .NavLink {
        padding: 0px;
    }

    .logo {
        padding: 5px 10px 10px 5px;
    }

    .home-icon,
    .saved-icon {
        display: block;
        width: 35px;
        fill: #2570C3;
    }

    .home-icon:hover,
    .saved-icon:hover {
        fill: #f975e3;
    }

    .NavLink-home {
        padding: 0px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    .menu-circle {
        background-color: #2570C3;
        border-radius: 50%;
        width: 7px;
        height: 7px;
    }

    .li-home,
    .li-savedThemes {
        width: 100%;
        height: 100%;
    }

    .logo {
        border-right: 2px solid #63a5e3;
    }

    .NavLink:hover,
    .NavLink.active {
        background-color: transparent;
    }
}