body {
    background: rgb(205, 223, 243);
    background-image: linear-gradient(180deg, rgba(205, 223, 243, 1) 0%, rgba(133, 187, 230, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-main {
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    padding-top: 10%;
}

.landing-contents {
    position: relative;
}

.landing-box {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
}

.landing-header {
    font-size: 28px;
    font-weight: 500;
}

.landing-paragraph {
    font-size: 12px;
    margin: 0;
    margin-bottom: 20px;
}

.landing-button {
    font-family: 'Work Sans', sans-serif;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    width: 6.5rem;
    height: 2.5rem;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0px 3px 6px 0px rgba(99, 165, 227, 0.71);
}

.squares {
    width: 40%;
    z-index: -2;
    position: absolute;
    left: 0px;
}



.pots {
    width: 30%;
    z-index: -1;
    position: absolute;
    right: 0px;
    top: 0px;
}

@media screen and (max-width: 500px) {
    .squares {
        width: 40%;
        display: none;
    }

    .pots {
        position: static;
        margin: auto;
        width: 50%;
        display: block;
    }

    .landing-box {
        font-size: 50;
    }
}