.main-st {
    background-color: aliceblue;
    background-repeat: no-repeat;
    padding: 20px 30px;
    margin: 25px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #63a5e3;
}

.savedThemes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}